<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prox.docxreader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".DocxReaderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:roundIcon="@mipmap/ic_app_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocxReader">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />

                <!-- .txt -->
                <data android:mimeType="text/plain" />

                <!-- .doc and .dot -->
                <data android:mimeType="application/msword" />
                <!-- .docx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <!-- .dotx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />

                <!-- .xls -->
                <data android:mimeType="application/vnd.ms-excel" />
                <!-- .xlsx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <!-- .xltm -->
                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />
                <!-- .xltx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                <!-- .csv -->
                <data android:mimeType="text/comma-separated-values" />

                <!-- .ppt -->
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <!-- .pptx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />

                <!-- .pdf -->
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ReaderActivity"
            android:exported="true"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.prox.docxreader.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3617606523175567~4893768251" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />
    </application>

</manifest>